
</head>
<style>

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #CCCCCC;
}

</style>
<body>
<div class="page-header">
<h2 class="header">
View Contacts
</h1>
</div>
<Br>


<table class="table table-hover">


 <th>First Name</th>
  <th>Last Name</th>
  <th>Reminder Date </th>
  <th>Action </th>

<% @contact_list.each do |contact| %>
    <tr>
      <td><%= contact.fname %></td>
      <td><%= contact.lname %></td>
      <td><%= contact.date %></td>
      <td><%= link_to "Edit", "/contacts/#{contact.id}/edit" %> | <%= link_to "Delete", "/contacts/#{contact.id}/delete" %></td>

  <% end %>
</table>
</body>




